.custom-nav{
  background-color: #FF6666;
  height: 25px;
  border: 1px solid #002;
  display:'flex';
  flex-direction:'flex-start';
  align-items:'center';
}
.nav-title{
  color: white;
  margin:0;
  font-size:18px;
}
